<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Retro Calc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DEEEA8F01C6082FC003F03CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DEEEA9041C6082FC003F03CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DEEEA90F1C6082FC003F03CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
